
<div class="float-end sticky-top">
    <button class="btn btn-dark mt-1" data-bs-toggle="tooltip" data-bs-placement="left" title="Download Resume"
    data-bs-custom-class="custom-tooltip">
        <i class="bi bi-download fw-bolder fs-4"></i>
    </button>
</div>
<div id="summary" class="container ps-5 pe-5">
    <div class="container ps-5 pe-5 headContainer">
        <h2 class="mt-5" style="font-family: 'Poppins', sans-serif; font-weight: 700;">I'M AKSHAY MUNDAYE.
            I'M A
            <label class="text-danger"> FULL STACK </label><br> <label style="color: #228B22">WEB DEVELOPER
            </label>
            FROM
            THANE, INDIA
        </h2>
        <div class="row">
            <div class="col-xl-4 col-lg-7 col-md-12 col-sm-12 mt-5 p-1 text-center">
                <img style="border-radius: 0%; border: 1px black solid;" class="img-fluid"
                    src="../../../assets/akshay1.jpg">
            </div>
            <div class="col-xl-8 col-lg-5 col-md-12 col-sm-12 ps-5 align-middle mt-5 p-1">
                <label class="lh-lg" style="font-family: 'Poppins', sans-serif; font-weight: 300; font-size: 20px;">
                    Skilled Python developer with a strong mathematical background and experience in Web
                    development, Mobile development, API development, Data scraping, Automation and SQL.
                    Proven ability to gather requirements from
                    clients,
                    develop implementation strategies and write effective, scalable code. Strong understanding
                    of
                    AWS
                    and experience with S3 buckets. Holds a Bachelor of Engineering degree in Computer
                    Engineering
                    from
                    the Smt. Indira Gandhi College of Engineering (University of Mumbai) with 5.5 CGPA.
                </label>
            </div>
        </div>
    </div>
</div>
<div id="experience" class="container pt-5 ps-5 pe-5">
    <div class="container ps-5 pe-5">
        <h2 class="mt-3" style="font-family: 'Poppins', sans-serif; font-weight: 600; color: black;">WORK EXPERIENCE &
            PROJECTS
        </h2>
        <div class="row mt-4">
            <div class="col-xl-4 col-lg-7 col-md-12 col-sm-12">
                <h3 class="mt-3" style="font-family: 'Poppins', sans-serif; font-weight: 600;">Myrah Consulting Services
                    Pvt Ltd.
                </h3>
                <h5 class="mt-3" style="font-family: 'Poppins', sans-serif; font-weight: 600;  color: #4682B4">Jul 2021
                    - Present
                </h5>
            </div>
            <div class="col-xl-8 col-lg-5 col-md-12 col-sm-12 mt-3 ps-5">
                <h5 class="lh-lg text-success"
                    style="font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 18px;">
                    1. Project : Restful Web Service (API's)
                </h5>
                <ul class="list-group">
                    <li style="border: none;" class="list-group-item">
                        <label style="font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 15px;">
                            Project Summary:
                        </label>
                    </li>
                    <li style="border: none;" class="list-group-item">
                        <ol class="list-group list-group-numbered">
                            <li style="border: none;" class="list-group-item">
                                I worked on a project to develop a REST API for a accounting software.
                            </li>
                            <li style="border: none;" class="list-group-item">
                                The API was designed to allow users to easily interact with the system through a variety
                                of methods, including creating/editing company profiles, viewing company information,
                                creating/editing invoices & managing inventory.
                            </li>
                            <li style="border: none;" class="list-group-item">
                                Used a variety of technologies, including Python and MySQL, to build the
                                API and ensure that it was fast, reliable, and easy to use.
                            </li>
                        </ol>
                    </li>
                    <li style="border: none;" class="list-group-item">
                        <label style="font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 15px;">
                            Key Responsibilities:
                        </label>
                    </li>
                    <li style="border: none;" class="list-group-item">
                        <ol class="list-group list-group-numbered">
                            <li style="border: none;" class="list-group-item">Gather requirements from clients to
                                develop API.</li>
                            <li style="border: none;" class="list-group-item">Create Restful web services using python
                                and
                                django to support client needs</li>
                            <li style="border: none;" class="list-group-item">Design and implement SQL databases to
                                store and
                                manage client data</li>
                            <li style="border: none;" class="list-group-item">Maintain and troubleshoot client databases
                                and web
                                services as needed</li>
                            <li style="border: none;" class="list-group-item">I was responsible for managing the
                                development team, overseeing the implementation of the API, and testing and debugging
                                the system to ensure that it met the needs of the customer.</li>
                            <li style="border: none;" class="list-group-item">I also worked closely with the customer to
                                understand their requirements and ensure that the API met their needs.</li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row ">
            <div class="col-xl-4 col-lg-7 col-md-12 col-sm-12">
            </div>
            <div class="col-xl-8 col-lg-5 col-md-12 col-sm-12 mt-3 ps-5">
                <h5 class="lh-lg text-success"
                    style="font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 18px;">
                    2. Project : Web Application & Mobile Application
                </h5>
                <ul class="list-group">
                    <li style="border: none;" class="list-group-item">
                        <label style="font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 15px;">
                            Project Summary:
                        </label>
                    </li>
                    <li style="border: none;" class="list-group-item">
                        <ol class="list-group list-group-numbered">
                            <li style="border: none;" class="list-group-item">
                                I worked on a web application using AngularJS, a JavaScript library for building user
                                interfaces. For mobile application development I used react-native.
                            </li>
                            <li style="border: none;" class="list-group-item">
                                The project involved creating a responsive, user-friendly platform for a users in the
                                accounting industry.
                            </li>
                            <li style="border: none;" class="list-group-item">
                                The main features of the web/mobile application included a dashboard, trial balance page
                                and one click filing of GST.
                            </li>
                            <li style="border: none;" class="list-group-item">
                                The dashboard was designed to show graphical analysis of credits and debits of company.
                            </li>
                        </ol>
                    </li>
                    <li style="border: none;" class="list-group-item">
                        <label style="font-family: 'Poppins', sans-serif; font-weight: 600; font-size: 15px;">
                            Key Responsibilities:
                        </label>
                    </li>
                    <li style="border: none;" class="list-group-item">
                        <ol class="list-group list-group-numbered">
                            <li style="border: none;" class="list-group-item">I was responsible for the front-end
                                development of the web application, using AngularJS to create reusable components and
                                manage
                                the state of the application. </li>
                            <li style="border: none;" class="list-group-item">I also implemented responsive design to
                                ensure that the
                                web application looked great on all devices.</li>
                            <li style="border: none;" class="list-group-item">I was also responsible for the front-end
                                development of the mobile application, using react-native.</li>
                            <li style="border: none;" class="list-group-item">Keeping up-to-date with the latest
                                developments in the React Native ecosystem, and staying informed about new tools and
                                technologies that can improve app development.</li>
                            <li style="border: none;" class="list-group-item">Continuously test and maintain the app for
                                different mobile devices and platforms.</li>
                        </ol>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="contact" class="container ps-5 pe-5">
    <div class="container ps-5 pe-5 mt-4">
        <h2 style="font-family: 'Poppins', sans-serif; font-weight: 600;">CONTACT ME
        </h2>
        <div class="row mt-3">
            <div class="col-xl-4 col-lg-7 col-md-6 col-sm-12 ">
                <h4 style="font-family: 'Poppins', sans-serif; font-weight: 600;">EMAIL :
                </h4>
            </div>
            <div class="col-xl-7 col-lg-4 col-md-6 col-sm-12 mt-2 ps-5 align-middle">
                <h4 style="font-family: 'Poppins', sans-serif; font-weight: 400;">
                    armakshay31@gmail.com
                </h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-7 col-md-6 col-sm-12 ">
                <h4 style="font-family: 'Poppins', sans-serif; font-weight: 600;">Mobile No :
                </h4>
            </div>
            <div class="col-xl-7 col-lg-4 col-md-6 col-sm-12 mt-2 ps-5 align-middle">
                <h4 style="font-family: 'Poppins', sans-serif; font-weight: 400;">
                    +91 9702176172
                </h4>
            </div>
        </div>
    </div>
</div>